name: Update readme

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install gitpython
    - name: Run update-readme.py
      working-directory: scripts
      run: |
        python update-readme.py
    - name: Commit changes
      run: |
        git config --global user.name 'Doyeop_Lee'
        git config --global user.email 'gunx921@gmail.com'
        git add -A
        git commit -am "auto-update README.md"
    - name: Push changes
      run: |
        git push